/*Common nav style*/
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* skewed header */

.skewed-header{
    position: relative;
    height: 400px;
    overflow:hidden;

}

.skewed-header > .header-bg {
    position: absolute;
}