/*Common nav style*/
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*Common nav style*/
.navigation-wrapper{
    height: 190px;
    background-color:#11122b;
    color:#cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;

}
.left.column>.contact-hours-wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

}

.contact-hours-wrapper > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;

}
.address-wrapper{
   font-family: 'Ubuntu Condensed', sans-serif;
   color:white;

}

.left-column {
    display: flex;
    align-items: center;
}

.icon {
    display:flex;
    margin-right: 15px;

}

.icon i{
    font-size: 2em;
}

.banner-image img{
    width: 216px;
    height: 100%;

}